#projects{
   max-width: 1280px;
   min-height: 400px;
   
   margin: 0 auto 10px;
   @media (max-width: 1300px) { margin: 0 10px 10px }

   position: relative;

   #add_project{
      width: 30px;
      height: 30px;

      position: absolute;
      right: 11px;
      @media (max-width: 976px) { right: 7px }   
      top: 4px;
      
      font-size: 12px;
      border-radius: 7px;
      border: 1px solid black;
      padding: 3px;

      text-transform: uppercase;

      cursor: pointer;
   }

   .project{
      width: calc(50% - 10px);
      @media (max-width: 976px) {width: 100%; margin: 0}
      margin: 0 5px;
      margin-bottom: 10px !important;
      
      padding: 3px;
      border: 1px solid black;
      border-radius: 10px;

      .title{
         position: relative;
         font-weight: bold;
         flex-grow: 1;
         padding-left: 5px;

         cursor: pointer;

         a{
            width: 100%;
            height: 100%;
            display: block;

            position: absolute;
            left: 0;
            top: 0;
         }
      }

      img{
         width: 39px;
         height: 39px;
         margin: auto;
         padding: 5px;
         border-left: 1px solid black;
         cursor: pointer;
      }
   }
}

#project_details{
   .date{
      position: absolute;
      right: 0px;
      top: 0px;
   }
}