#project{
   background-color: yellow;
   min-height: max-content; // Header 45 + title 35

   #background{
      position: absolute;
      left: 0;
      top:0;
      background-color: yellow;

      width: 100vw;
      height: 100vh;

      z-index: -100;
   }

   #upper-section{
      background-color: orange;
      padding: 3px 0;

      .title{
         color: white;
         font-weight: bold;
         text-align: center;
         font-size: 21px;
         height: 35px;
      }
   }

   #add_task{
      position: absolute;;
      right:0;
      top:4px;
      height: calc(100% - 8px);
   }
}