#project{
   min-height: max-content;

   #upper-section{
      padding: 3px 0;

      .title{
         font-weight: bold;
         text-align: center;
         font-size: 21px;
         height: 35px;
      }

      #add_project{
         width: 30px;
         height: 30px;
   
         position: absolute;
         right: 11px;
         top: 4px;
         
         font-size: 12px;
         border-radius: 7px;
         border: 1px solid black;
         padding: 3px;
   
         text-transform: uppercase;
   
         cursor: pointer;
      }

   }

   #add_task{
      position: absolute;;
      right:0;
      top:4px;
      height: calc(100% - 8px);
   }
}