.task{
   margin-bottom: 5px;
   background-color: lightgray;
   border: 1px solid black;   
   border-radius: 5px;
   overflow: hidden;

   .name{
      font-size: 13px;
      padding-left: 2px;
      padding: 3px;
      background-color: white;
      transition: background-color .5s;
      width: 100%;
      overflow: hidden;
   }

   .settings{
      width: 20px;
      height: 20px;
      border: 1px solid black;
      margin: auto 2.5px;
      padding: 1px;
      background-color: white !important;
      cursor: pointer;
   }
}

.name:hover{
   cursor: pointer;
   background-color: #EEE;
}

// For edit Task
#status_box{
   .option{
      margin: 0 auto;
      padding: 3px;

      border: 1px solid black;
      font-weight: bold;
      width: 49%;
      text-align: center;
      font-size: 13px;
      border-radius: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      
      background-color: white;
   }

   .selected{
      background-color: lightgreen;
   }
}