.header{
   height: 45px;
   border-bottom: 1px solid black;
   background-color: lightblue;

   button{
      font-weight: bold;
      color: white;
      padding: 4px 10px;
      border-radius: 5px;
      font-size: 15px;
      height: 35px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 3px;
      border:none;
   }

   button.register{
      background-color: rgb(101, 187, 31);
   }

   button.login{
      background-color: rgb(94, 90, 90);
   }

   button.logout{
      background-color: rgb(94, 90, 90);
   }
}