body{
   min-width: 400px;
   // margin-top: 45px;
}

.container-fluid{
   margin: 0 !important;
   padding: 0 !important;
}

#page-title{
   position: relative;
	font-weight: bold;
	text-align: center;
	font-size: 21px;
	padding-bottom: 6px;
}

button{
   font-weight: bold;
   padding: 2px 5px;
}

main{
   padding-top: 55px !important;
   padding-left: 10px;
   padding-right: 10px;
}